body {
    font-family: 'Montserrat', sans-serif;
    font-size: 130%;
    color: black;
    line-height: 1.6;
    background-color: gainsboro;
}

.mycontainer {
    background: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1%;
    padding: 0;
}

.grid-container div {
    margin: 1%;
}

.white {
    color: white;
}

/* Для вибору категорії */

.grayBG {
    background: gray;
}

/* Заголовочний блок*/

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 100%;
}

.title {
    font-size: 150%;
    color: white;
}

/* Заголовочні силки */

.navProp {
    font-size: 100%;
    color: gainsboro;
    margin: 2%;
    position: relative;
}

/* Власт. для другого слота */

.aproperty {
    font-size: 150%;
    color: white;
    padding-right: 3%;
}

/* Задання всіх тегів а без підкреслень */

a {
    text-decoration: none;
}

/* Вигляд тексту при наведені на лінкові слова*/

a:hover {
    color: wheat;
    background-color: transparent;
    text-decoration: underline;
}

/* Для вибору категорії*/

.imagestyle {
    background-attachment: fixed;
    max-width: 100%;
    margin-top: 3%;
}

p {
    margin-bottom: -15px;
}

#myGoods {
    width: 100%;
    background-color: grey;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.fortable {
    margin-top: 2%;
    width: 100%;
}

/* Поле вводу */

.add {
    font-size: 136%;
    text-align: center;
    max-width: 30%;
    margin-top: 7%;
    border: black;
    background-color: cadetblue;
}

.prorertyOfDivForAddElem {
    max-width: 90%;
    margin-top: 3%;
}

.add div {
    margin-top: 2%;
}

/* ввід інформації */

.addinput {
    font-size: 110%;
    margin-top: 1%;
    background-color: white;
}

.article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    background-color: #45a1ff;
    color: #fff;
}

footer {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

td button {
    font-size: 100%;
}

/* стиль для div(товар і опис) в script.js */

.mygoodsstyles {
    border: 1px groove black;
    background: white;
    text-align: center;
}

/* Стилі для grid*/

.imagestyle {
    margin-top: 2%;
}

/* стиль для кнопки в script.js */

.buttonstylesforgrid {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 120%;
}

/* стиль для кнопки в script.js */

.paragraphstyles {
    margin: 0 auto;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

input:required:valid {
    border-color: green;
}

.blue {
    color: blue;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgForBody {
    background: url(images/pic.jpg);
}