body {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 130%;
    color: black;
    line-height: 1.6;
    background-color: gainsboro;
}

/* Контейнери */

.container {
    width: 100%;
    height: auto;
    margin: auto;
    background: black;
    position: fixed;
    top: 0%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1%;
    padding: 0%;
}

.grid-container div {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

/* Для вибору категорії */

.container2 {
    width: 100%;
    margin: auto;
    background: gray;
    height: 100%;
    margin-top: 5%;
}

/* Заголовочний блок*/

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0%;
    font-size: 100%;
}

/* Вибір категорії під верхнім слотом */

/* .topbox {
    display: flex;
    justify-content: ;
  } */

/* Заголовок */

.title {
    font-size: 150%;
    margin-left: 1%;
    color: white;
    width: 100%;
    height: 100%;
}

/* Заголовочні силки */

.navProp {
    font-size: 100%;
    color: gainsboro;
    margin: 2%;
    position: relative;
}

/* Власт. для другого слота */

.aproperty {
    font-size: 150%;
    color: white;
    padding-right: 3%;
}

/* Задання всіх тегів а без підкреслень */

a {
    text-decoration: none;
}

/* Вигляд тексту при наведені на лінкові слова*/

a:hover {
    color: wheat;
    background-color: transparent;
    text-decoration: underline;
}

/* Для вибору категорії*/

.select {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
}

.imagestyle {
    max-width: 100%;
    margin-top: 3%;
}

p {
    margin-bottom: -15px;
}

#myGoods {
    width: 100%;
    background-color: grey;
    font-size: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.fortable {
    margin-top: 2%;
    width: 100%;
}

/* Поле вводу */

.add {
    font-size: 136%;
    text-align: center;
    border: 8px groove lavenderblush;
    background: white;
    max-width: 30%;
    margin: 0 auto;
    margin-top: 4%;
}

.prorertyOfDivForAddElem {
    max-width: 90%;
    margin-top: 3%;
}

.add div {
    margin-top: 2%;
}

/* ввід інформації */

.add input {
    font-size: 110%;
    margin-top: 5%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    background-color: #45a1ff;
    color: #fff;
}

footer {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

td button {
    font-size: 100%;
}

/* стиль для div(товар і опис) в script.js */

.mygoodsstyles {
    border: 1px groove black;
    background: white;
}

/* Стилі для grid*/

.imagestyle {
    margin-top: 2%;
}

/* стиль для кнопки в script.js */

.buttonstylesforgrid {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 120%;
}

/* стиль для кнопки в script.js */

.paragraphstyles {
    margin: 0 auto;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

input:required:valid {
    border-color: green;
  }